<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h3 id="old">bootstrap</h3>
            <p id="p1">This is p1</p>
            <p id="p2">This is p2 (Clickable)</p>
            <p id="demo">This is p3</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">A</a>
                <a href="#" class="list-group-item">B</a>
                <a href="#" class="list-group-item disabled">C</a>
            </div>
                <li class="sizes">Item One</li>
                <li class="">Item two</li>
            </ul>
            <div>
                <input type="checkbox" id="cb"/>
                <label for="cb">Show button</label>
            </div>
            <!-- Buttons -->
            <button id="bbb">Button</button>
            <button onclick="byTagNames()">Change P3</button>
            <!--<button onclick="changeP2()">Change P2!</button>-->
            <button id="button1">Change P2</button>
            <button onclick="changeStyle('p2')">Change Style</button>
            <main id="app"> 
                <h2>Records</h2>
                <div id="records">
                    <div v-for="emp in all weights">
                        {{emp.empName}} weighs {{emp.empWeight}}
                    </div>
                </div>
                
                <form name="frmCollectweights">
                    <div>
                        <label for="empName">Name:</label>
                        <input type="text" id="empName" name="empName" v-model="empName">
                    </div>
                    <div class="formSeparator">
                        <label for="empWeight">Weight:</label>
                        <input type="text" id="empWeight" name="empWeight" v-model.number="empWeight">  
                    </div>
                    <div>
                        <button id="sendData" type="submit" :disabled="isDisabled">Save Weight</button>
                    </div>
                </form>
                <span class="standOut">{{empName}} weighs {{empWeight}}</span>
            </main>
        </div>
    </div>

    
    <section id="app">
        <a href="#" class="list-group-item">{{ recipes[0] }}</a>
        <a href="#" class="list-group-item">{{ recipes[1] }}</a>
        <a href="#" class="list-group-item">{{ recipes[2] }}</a>
        <a href="#" class="list-group-item">{{ recipes[3] }}</a>
    </section>
    <script src="Script.js"></script>
    <!-- Event Listener -->
    <script>
        document.getElementById("button1").addEventListener("click", changeP2);
        document.getElementById("p2").addEventListener("click", function(){
            alert("Ouch");
        });
    </script>
</body>
</html>